<form [formGroup]="addProcessForm" (ngSubmit)="addProcessToMethod()" novalidate>

        <div class="form-group">
          <label class="control-label"> Procees Display Name*</label>
          <input formControlName="processDispalyName" type="text" class="form-control" placeholder="Produit Agile">
        </div>
        <div class="form-group">
                <label class="control-label">Process Type*</label>
                <input formControlName="processType" type="text" class="form-control" placeholder="ARCHITECTURE">
              </div>
        <div class="form-group">
            <label class="control-label">Follow UP*</label>
            <input formControlName="followUP" type="text" class="form-control" placeholder="STANDARD">
         </div>



    <button type="submit" class="btn btn-primary">adding Process to Method</button>
        <a routerLink="..">Annuler</a>

      </form>
