<form [formGroup]="searchForm" (ngSubmit)="listProcessAndArtifacts()" novalidate>

        <div class="form-group">
          <label class="control-label">Mapping Method Name*</label>
          <input formControlName="methodMappingName" type="text" class="form-control" placeholder="Produit Agile">
        </div>
        <div class="form-group">
                <label class="control-label">Process Type*</label>
                <!-- <input formControlName="processType" type="text" class="form-control" placeholder="ARCHITECTURE"> -->

                <select formControlName="processType" type="text" class="form-control" placeholder="ARCHITECTURE">
                <!-- <select class="form-control"> -->
                    <option>ARCHITECTURE</option>
                    <option>QUALITY</option>
                  </select>
              </div>
        <div class="form-group">
            <label class="control-label">Follow UP*</label>
            <input formControlName="followUP" type="text" class="form-control" placeholder="STANDARD">
         </div>



    <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Lister Processes et Artifacts</button>
        <a routerLink="..">Annuler</a>

      </form>
