<form [formGroup]="searchForm" (ngSubmit)="listProcessAndArtifacts()" novalidate>

        <div class="form-group">
          <label class="control-label">Mapping Method Name*</label>
          <!-- <input formControlName="methodMappingName" type="text" class="form-control" placeholder="Produit Agile"> -->
          <input formControlName="methodMappingName" type="text" class="form-control" >
        </div>
        <div class="form-group">
                <label class="control-label">Process Type*</label>
                <!-- <input formControlName="processType" type="text" class="form-control" placeholder="ARCHITECTURE"> -->

                <select formControlName="processType" type="text" class="form-control" placeholder="ARCHITECTURE">
                <!-- <select class="form-control"> -->
                    <option>ARCHITECTURE</option>
                    <option>QUALITY</option>
                  </select>
              </div>
        <div class="form-group">
            <label class="control-label">Follow UP*</label>

            <select formControlName="followUP" type="text" class="form-control" placeholder="STANDARD">
                <option>STANDARD</option>
                <option>LIGHT</option>
                <option>ENFORCED</option>
            </select>

         </div>



    <!-- <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Lister Processes et Artifacts</button>
    <p-button icon="pi pi-check" [disabled]="true" label="Disabled"></p-button> -->
    <p-button     type="submit" class="ui-button-secondary" [disabled]="!searchForm.valid">Lister Processes et Artifacts</p-button>
        <!-- <a routerLink="..">Annuler</a> -->

      </form>
